* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // border: 0.5px solid pink;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

//기본 요소 설정
a {
    text-decoration: none;
    color: inherit;
}

h1 {
    // display: none;
    font-size: 7em;
    margin-bottom: 80px;
    margin-top: -80px;
    font-family: "Saira Stencil One", cursive;
    font-weight: normal;
    animation: ani1 1s infinite alternate-reverse ease-in-out;
}

ul,
li,
ol {
    list-style: none;
}

//추가 설정(modal content)
.outline {
    outline: 1px solid white;
}

.cursor {
    cursor: pointer;
}

.dp_none {
    display: none !important;
}

.dp_block {
    display: block !important;
}

.dp_flex {
    display: flex !important;
}

.pos_rel {
    position: relative;
}

//추가 설정(calendar)
.clearfix:after {
    content: "";
    display: block;
    clear: both; //양쪽 비워
    float: none;
}

html,
body {
    height: 100%;
    color: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // background-color: #090909;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000031;
        z-index: -1;
    }
    .modal {
        display: flex;
        // display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1d1f20;
        .close {
            position: absolute;
            top: 50px;
            right: 50px;
            font-size: 2em;
            z-index: 10;
        }
        .h1 {
            font-size: 3em;
        }
        .modal_form {
            width: 500px;
            height: 500px;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 0;
            opacity: 0.8;
        }
        .modalViewer_video {
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .block_mouse {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .modal_h2 {
            font-size: 4em;
            margin-top: -160px;
            margin-bottom: 60px;
            font-family: "Saira Stencil One", cursive;
            font-weight: normal;
        }
        .modal_input {
            border: none;
            outline: none;
            width: 300px;
            height: 100px;
            text-align: center;
            font-size: 30px;
            background-color: inherit;
            border-bottom: 5px solid #8181fa;
            border-radius: 5px;
            color: white;
            &:focus {
                animation: opacity-0-to-1 0.5s infinite alternate-reverse linear;
            }
        }
    }
    .wrap {
        display: flex;
        // display: none;
        flex-direction: column;
        align-items: center;
        .write {
            width: 100px;
            padding: 1em 2em;
            border: 2px solid #afafaf;
            border-radius: 100px;
            text-align: center;
            margin: 50px 0;
            box-shadow: 9px 5px 14px 2px rgba(255, 255, 255, 0.45);
            overflow: hidden;
            &:before {
                background-color: #dc4a38;
                content: "";
                width: 120%;
                height: 254%;
                position: absolute;
                transform: rotate(45deg);
                top: 46%;
                left: -90%;
                transition: all 0.35s;
                transition-timing-function: cubic-bezier(0.31 -0.105 0.13 1.59);
            }
            &:hover:before {
                top: -68%;
                left: -8%;
            }
            &:hover span {
                transform: scale(1.3);
            }
            span {
                transition: all 0.35s 0.35s;
                transition-timing-function: cubic-bezier(0.31 -0.105 0.43 1.59);
                transform: scale();
                display: inline-block;
                font-family: "Saira Stencil One", cursive;
                font-weight: normal;
            }
        }
        .content_wrap {
            display: flex;
            width: 100%;
            justify-content: center;
            justify-content: space-evenly;
            .toDoList {
                padding: 40px;
                font-size: 20px;
                .x_btn,
                .f_btn {
                    margin-left: 10px;
                }
                .finished {
                    margin-top: 20px;
                }
                .pending_li,
                .finished_li {
                    margin: 10px 0 10px 1em;
                }
                .pending,
                .finished {
                    font-size: 1.5em;
                    font-family: "Saira Stencil One", cursive;
                    font-weight: normal;
                }
                .pending_li,
                .finished_li {
                    font-size: 0.8em;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
            .movieViewer {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2 {
                    margin-bottom: 20px;
                    font-family: "Saira Stencil One", cursive;
                    font-weight: normal;
                    font-size: 1.7em;
                }
                .movieViewer_video {
                    display: none;
                    border-radius: 20px;
                }
                .movieViewer_default {
                    font-size: 10em;
                    display: none;
                }
            }
        }
        .openCld {
            position: absolute;
            bottom: 50px;
            right: 100px;
            background: rgba(245, 115, 82, 0.8);
            padding: 15px 30px;
            border: 2px solid #fff;
            border-radius: 50px;
            transition-timing-function: cubic-bezier(0.31 -0.105 0.13 1.59);
            box-shadow: 3px 3px 12px 1px rgba(255, 255, 255, 0.45);
            cursor: pointer;
            span {
                transition: all 0.35s 0.35s;
                transition-timing-function: cubic-bezier(0.31 -0.105 0.43 1.59);
                transform: scale();
                display: inline-block;
                font-family: "Saira Stencil One", cursive;
                font-weight: normal;
            }
            &:hover span {
                transform: scale(1.2);
            }
        }
    }
    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00000069;
        .my-calendar {
            width: 700px;
            margin: 30px;
            padding: 20px 20px 10px;
            text-align: center;
            font-weight: 800;
            border: 1px solid #ddd;
            cursor: default;
            .clicked-date {
                border-radius: 25px;
                margin-top: 36px;
                float: left;
                width: 42%;
                padding: 46px 0 26px;
                background: #ddd;
                .cal-day {
                    font-size: 24px;
                }
                .cal-date {
                    font-size: 130px;
                }
            }
            .calendar-box {
                float: right;
                width: 58%;
                // padding-left: 30px;
                .ctr-box {
                    padding: 0 16px;
                    margin-bottom: 20px;
                    font-size: 20px;
                    .btn-cal {
                        color: white;
                        position: relative;
                        float: left;
                        width: 25px;
                        height: 25px;
                        margin-top: 5px;
                        font-size: 1.5em;
                        cursor: pointer;
                        border: none;
                        background: none;
                        &:after {
                            content: '<';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            line-height: 25px;
                            font-weight: bold;
                            // font-size: 20px;
                        }
                        &.next {
                            float: right;
                            &:after {
                                content: ">";
                            }
                        }
                    }
                }
                .cal-table {
                    width: 100%;
                    th {
                        width: 14.2857%;
                        padding-bottom: 5px;
                        font-size: 16px;
                        font-weight: 900;
                    }
                    td {
                        padding: 3px 0;
                        height: 50px;
                        font-size: 15px;
                        vertical-align: middle;
                        &.day {
                            position: relative;
                            cursor: pointer;
                        }
                        &.today {
                            background: #ffd255;
                            border-radius: 50%;
                            color: #fff;
                        }
                        &.day-active {
                            background: #ff8585;
                            border-radius: 50%;
                            color: #fff;
                        }
                        &.has-event:after {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 4px;
                            background: #FFC107;
                        }
                    }
                }
            }
        }
        .closeCld {
            position: absolute;
            top: 50px;
            right: 50px;
            font-size: 2em;
            z-index: 10;
        }
    }
}


/* gradient border */

.gradient_border {
    --borderWidth: 6px;
    background: #1d1f20;
    position: relative;
    border-radius: var(--borderWidth);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradient_border:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient( 60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes ani1 {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes opacity-0-to-1 {
    0% {
        border-bottom: 5px solid transparent;
    }
    100% {
        border-bottom: 5px solid #8181fa;
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}